.pager {
    float: left;
}
.navbar-inner{
    background: lavender;
}
.h4 {
    float: left;

}
.navbar-fixed-bottom {
    height: 35px;
}

.bor {
    /* Рамка вокруг фотографии */
    background: rgb(235, 220, 250); /* Цвет фона */
    margin-right: 5px; /* Отступ справа */

    /* Отступ снизу */
    margin-top: 62px;
    float: right;
    padding-left: 40px;
    padding-right: 20px;

}
.thumb img  {
    /* Рамка вокруг фотографии */
    /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 5px; /* Отступ справа */
    /* Отступ снизу */
    margin-top: 68px;
    float: right;
    padding-left: 10px;
    padding-right: 50px;

}
.navbar-form.navbar-left {
    float: right;
    padding-left: 20px;

}
.form-group{
    margin-left: 511px;
}
.h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: rgb(235, 220, 250);
    text-align: center;
    height: 600px !important;
}
.slider {
    height: 550px;
    width: 650px;
}
.navbar-fixed-top {
    background: rgb(235, 220, 250);
}
.dropdown-toggle{
    color: black;
}
.carousel{
    margin-top: 20px;
    width: 650px;
}
.col-sm-2 {
    align:left ;

}

.verticalOverflow {
    height:600px; /* высота нашего блока */
    width: 300px;
    background: rgb(235, 220, 250); /* цвет фона, белый */
    border: 1px solid #C1C1C1;
    overflow-y: auto;
    float: left;
    margin-top: 80px;
    padding-right: 10px;
    padding-left: 20px;
    /* прокрутка по вертикали*/

}
.thumbnail{
    width: 200px;
    height: 200px;

}
.horisontalOverflow {
    margin-top: 80px;
    margin-right: 20px;
    padding-right: 10px;
    height:150px;
    width: 650px;
    background: rgb(235, 220, 250); /* цвет фона, белый */
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
    overflow-x: auto;

    overflow-y: hidden;
    /* прокрутка по горизонтали  */

}
.list-inline {
    width: 1308px;

}
.col-md-5{
    width: 200px;
    margin-left: 15px;
}
.container-fluid {
    margin-left: 20px;
    margin-right: 19px;
}
body {
    background: lavenderblush;
    color:#00b3ee;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}

#container {
    background: rgba(161, 171, 152, 0.54);
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

#header {
    background: #66CCCC;
    height: 50px;
    width: 1000px;
}

#navigation {
    background: #FF9999;
    width: 1000px;
    height: 80px;
}

#menu {
    background: red;
    float: left;
    width: 200px;
    height: 400px;
}

.navbar-fixed-bottom{
    background: #aeb3b2;
}
#content {
    background: #d2d0d2;
    float: left;

    width: 700px;
    height: 400px;
}

#clear {
    clear:both;
}

#footer {
    background: #0066FF;
    height: 80px;
    width: 1000px;
}
#nav{

    float:left;
    width:100%;
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;

}

#nav li{

    float:left;
    margin-right:10px;
    position:relative;
    display:block;

}

#nav li a{

    display:block;
    padding:5px;
    color:#fff;
    background:#333;
    text-decoration:none;

    text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

}

#nav li a:hover{

    color: #3e8f3e;
    background:#6b0c36;
    background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
    text-decoration:underline;

}



/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/

#nav ul{

    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */

}

#nav ul li{

    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;
    background:url(dot.gif);

}

#nav ul a{

    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;

}

#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */

    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}

#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */

    background:#6b0c36;
    background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
    text-decoration:underline;
}

#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */

    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}

#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */

    background:#333;
    background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
    text-decoration:underline;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}
