.col-md-3{
    background-color: #0c5460;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-xs-2{
    background-color: #0c5460;
    height: auto;
}
header {
    background-color: lawngreen;
    height: 100%;
    width: auto;


}

footer {
    background-color: lawngreen;
    height: auto;
    width: auto;
    padding: 1%;
    position: static;

}

.col-outer{
    background-color: #1e7e34;
    padding-top: 20px;
}

.row{
    height: 100%;
}

h3{

}



